@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@theme {
  --color-primary: #5044E5;
}
* {
  font-family: "Outfit", sans-serif;
}

.reset-tw, .reset-tw *{
  all: revert !important;
}

.cl-drawerRoot{
  z-index: 10;
}

